p {
  font-size: $p-font-size;
  line-height: $p-line-height;
  margin-bottom: $margin-bottom-ptag;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $margin-bottom-htag;
  line-height: 1.5em;
}
h1 {
  font-size: em(24px);
  line-height: 1em;
}
h2 {
  font-size: em(22px);
  line-height: 1.0909em;
}
h3 {
  font-size: em(20px);
  line-height: 1.2em;
}
h4 {
  font-size: em(18px);
  line-height: 1.333em;
}
h5,
h6 {
  font-size: em(16px);
  line-height: 1.5em;
}
