body {
  height: auto;
  background-image: linear-gradient(to bottom, #000 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1.5rem;
  background-position: bottom -2px left 1px;
  line-height: 1.5;
}
